<!DOCTYPE html>
{% load staticfiles %}
<html lang="es" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>POSE</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <!-- Stylesheets-->
		<![endif]-->
  </head>
  <body>
    <div style="text-align: center;">
      <h1>API-REST-SANDBOX</h1>
    </div>
  </body>
</html>