# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\lovingsuite\api-lovingsuite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
